# Telegram
TELEGRAM_BOT_TOKEN=<token>

# Yandex Disk (WebDAV)
YD_WEBDAV_URL=https://webdav.yandex.ru
YD_LOGIN=<login>  
YD_PASSWORD=<password>

# OpenAI на будущее (пока пусто)
OPENAI_API_KEY=

# Роли/коды
OWNER_IDS=<>my_id          # твой Telegram user_id
INSTRUCTOR_IDS=              # можно оставить пустым
COURSE_CODE=PHYS-2025
INSTRUCTOR_CODE=TA-2025
DEV_ALLOW_AS=true